.menuItem {
	transition: font-size .25s;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 2em;
	text-align: center;
}
.menuItem:hover {
	font-size: 4em;
	transition: font-size .1s;
}
#transition-hover-content {
	text-align: center;
	margin-left: 3.5%;
	font-size: .5em;
}
#transition-hover {
	padding-left: 19.5px;
	padding-right: 19.5px;
	padding-top: 19.5px;
}
@media screen and (min-width: 768px) {
	#transition-hover-content {
		opacity:0;
		-webkit-transition:.2s;
		-moz-transition:.2s;
		-o-transition:.2s;
		-ms-transition:.2s;
		transition:.2s;
		text-align: center;
	}
	.navbar-brand {
		height: 150px;
	}
}
@media screen and (max-width: 767px) {
	.menuItem {
		float: left;
		padding-right: 5px;
	}
	.transition-hover {
		padding-bottom: 5px;
	}
}	
.transition-hover:hover #transition-hover-content {
	opacity:1;
	font-size: 1em;
}
.navbar {
	background-color: #ffffff;
	border: 0;
}
