.menuItem {
/*			max-height: 50px;*/
	transition: width .25s, height .25s;
}
.menuItem:hover {
	width: 75px;
	transition: width .1s, height .1s;
}
#transition-hover-content {
	text-align: left;
	margin-left: 3.5%;
}
@media screen and (min-width: 768px) {
	#transition-hover-content {
		opacity:0;
		-webkit-transition:.2s;
		-moz-transition:.2s;
		-o-transition:.2s;
		-ms-transition:.2s;
		transition:.2s;
		text-align: center;
	}
}
@media screen and (max-width: 767px) {
	.menuItem {
		float: left;
		padding-right: 5px;
	}
	.transition-hover {
		padding-bottom: 5px;
	}
}	
.transition-hover:hover #transition-hover-content {
	opacity:1;
}
.navbar {
	background-color: #ffffff;
	border: 0;
}